*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
}



h1 {
    text-align: center;
    margin-top: 50px;
  }

  section.podium{
    width: 100%;
    height: 30%;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    margin: 0 auto;

  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    position: relative;
    left: -150px;
  
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    position: relative;
    left: 150px;
    top: -50px;
  }


.first-prize{
  text-align: center;
  padding: 10px;
}

.second-prize{
  text-align: center;
  padding: 10px;
}

.third-prize{
  text-align: center;
  padding: 10px;
}