*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

ol{
    background-color: yellow;
}

ol li:nth-of-type(even){
    color: green;
}

ol li:nth-of-type(odd){
    text-transform: uppercase;
}

h1 , h3{
    color: red;
}

li{
    font-size: 20px;
}

.italico:nth-child(1){
    font-size: 40px;
    border: 1px solid black;
}

.li-italico{
    font-weight: bold;
}

.linguagens p:not(:nth-child(n+4)){
    color: blue;
}

.linguagens .java{
    background-color: pink;
}

.aliados a:hover{
    font-weight: bold;
    color: red;
}