*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
}

h1{
    margin-top: 50px;
}

.super-mario{
    position: absolute;
    top: 50px;
    bottom: 200px;
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.goomba{
    padding-top: 300px;
    width: 200px;
    height: 200px;
}

.word{
    position: relative;
    right: 480px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    float: right;
    z-index: 1;
}

.baloon{
    position: relative;
    right:350px;
    top: -30px;
    float: right;
    width: 150px;
    height: 150px;

}


.bowser{
    position: relative;
    top: 50px;
    float: right;
    width: 200px;
    height: 200px;
   
}