* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: green;
}

h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}