body{
    font-size: 16px;
}

h1{
    font-family: sans-serif;
    font-size: 65px;
    color: #FF8045;
    line-height: 50px;
    text-decoration: line-through;
}

p{
    font-weight: 600;
    font-size: 3rem;
    font-style: italic;
    text-align: left;
}

.main{
    background-color: #B2FF00;
}